{{#if biddingOnMove}}
  <form>
    <div class="form-group">
      <label for="name">Your name</label>
      {{input value=name id="name" required="true"}}
    </div>
    <div class="form-group">
      <label for="bid">Your bid for this move</label>
      {{input value=bid id="bid" required="true"}}
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      {{input value=email id="email"}}
    </div>
    <button {{action 'saveBid'}}>Post Bid</button>
  </form>
  <button {{action 'toggleDetail'}}>Cancel</button>
{{else}}
  <button id="bidMove" {{action 'toggleDetail'}}>Bid on this Move</button>
{{/if}}
