<div class="moveItem">
  <p class="moveType">{{move.type}}</p>
  <p>{{move.date}}</p>
  <p>From: {{move.fromAddress}}<br>
    To: {{move.toAddress}}</p>
  <p class="bidCount">{{totalBids}}</p>
</div>
