<div class="box-outline">
  <h3>Move Details</h3>
  <form>
    <div class="row">
      <div class="col-xs-8 col-md-4">
        <!-- <h4>What do you need for your move?</h4> -->
      </div>
      <div class="col-xs-4 col-md-4">
        <div class="form-group">
          <label for="type">type</label>
          {{input type="checkbox" name="truckNeeded" checked=truckNeeded}}
        </div>
        <div class="form-group">
          <label for="itemsList">itemsList</label>
          {{input type="checkbox" name="itemsList" checked=itemsList}}
        </div>
      </div>

    </div>

    <h4>Items to Move</h4>
    <div class="form-group">
          <label for="numberOfItems">numberOfItems</label>
          {{input type="checkbox"id="numberOfItems" checked=numberOfItems}}
    </div>

    <div class="form-group">
      <label for="description">description</label>
      {{input type="checkbox" id="description" checked=description}}
    </div>

    <div class="form-group">
      <label for="assembly">assembly</label>
      {{input type="checkbox" id="assembly" checked=assembly}}
    </div>

    <div class="form-group">
      <label for="stairs">stairs</label>
      {{input type="checkbox" id="stairs" checked=stairs}}
    </div>

    <div class="form-group">
      <label for="image">image</label>
      {{input id="image"}}
    </div>

    <div class="form-group">
      <label for="toAddress">toAddress</label>
      {{input id="toAddress"}}
    </div>

    <div class="form-group">
      <label for="fromAddress">fromAddress</label>
      {{input id="fromAddress"}}
    </div>

    <div class="form-group">
      <label for="date">date</label>
      {{input id="date"}}
    </div>
    <button {{action 'save'}}>Post Move</button>
  </form>
</div>
