<div class="box-outline">
  <h3>Move Details</h3>
  <form>
    <div class="form-group">
      {{input value=type id="type" placeholder="Type"}} <br>
    </div>

    <div class="form-group">
      {{input value=itemsList id="itemsList" placeholder="Items List"}}
    </div>

    <div class="form-group">
      {{input value=numberOfItems id="numberOfItems" placeholder="Number of Items"}}
    </div>

    <div class="form-group">
      {{input value=description id="description" placeholder="Description"}}
    </div>

    <div class="form-group">
      <label for="fragile">fragile</label>
      {{input type="checkbox" id="fragile" checked=fragile class="toggle"}}
    </div>

    <div class="form-group">
      <label for="assembly">assembly</label>
      {{input type="checkbox" id="assembly" checked=assembly class="toggle"}}
    </div>

    <div class="form-group">
      <label for="stairs">stairs</label>
      {{input type="checkbox" id="stairs" checked=stairs class="toggle"}}
    </div>

    <div class="form-group">
      {{input value=image id="image" placeholder="Image"}}
    </div>

    <div class="form-group">
      {{input value=toAddress id="toAddress" placeholder="To Address"}}
    </div>

    <div class="form-group">
      {{input value=fromAddress id="fromAddress" placeholder="From Address"}}
    </div>

    <div class="form-group">
      {{input value=date id="date" placeholder="Date"}}
    </div>
    <button {{action 'save'}}>Post Move</button>
  </form>
</div>
