<div class="postMoveForm">
  <form {{action "save" on="submit"}}>
    <div class="form-group">
      <label for="type">Type<i class="fa fa-asterisk"></i></label>
      {{input value=type placeholder="Move Furniture, Craigslist Pickup, Donation, etc." id="type" required="required"}}
    </div>

    <div class="form-group">
      <label for="itemsList">Items List<i class="fa fa-asterisk"></i></label>
      {{input value=itemsList placeholder="Couch, Bed Frame, Boxes, etc." id="itemsList" required="required"}}
    </div>
    <div class="form-group">
      <label for="numberOfItems">Number of Items<i class="fa fa-asterisk"></i></label>
      {{input value=numberOfItems id="numberOfItems" required="required"}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{input value=description id="description"}}
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>
<div class="longLat">
  <div class="form-group">
    <label for="toAddress">What address are you moving to?<i class="fa fa-asterisk"></i></label>
    {{input value=toAddress id="toAddress" required="required"}}
  </div>

  <div class="form-group">
    <label for="fromAddress">What address are you moving from?<i class="fa fa-asterisk"></i></label>
    {{input value=fromAddress id="fromAddress" required="required"}}
  </div>
</div>

    <div class="form-group">
      <label>
        Date of Move:
        <br>
        {{pikaday-input value=date id="date" required="required" format='MM/DD/YYYY' placeholder="MM/DD/YYYY"}}
      </label>
      <!-- {{input value=date id="date" required="required"}} -->
    </div>
    <div class="checkboxContainer">
      <p>Additional Details</p>
      <hr>
      <div class="checkboxes">
        <div class="form-group-check">
          <label for="fragile">Fragile?</label>
          {{input type="checkbox" id="fragile" checked=fragile class="toggle"}}
        </div>

        <div class="form-group-check">
          <label for="assembly">Assembly required?</label>
          {{input type="checkbox" id="assembly" checked=assembly class="toggle"}}
        </div>

        <div class="form-group-check">
          <label for="stairs">Stairs to Climb?</label>
          {{input type="checkbox" id="stairs" checked=stairs class="toggle"}}
        </div>
      </div>
    </div>
    <button type="submit">Post Your Move</button>
  </form>
</div>
