
  {{#link-to 'move-detail' move.id}}
    <div class="profileMoveItem">
      <p>{{move.date}}</p>
      <div class="moveAddresses">
        <p>From: {{move.fromAddress}}<br>
          To: {{move.toAddress}}</p>
      </div>
      <p class="bidCount">{{totalBids}}</p>
    </div>
  {{/link-to}}
  <!-- <button{{action 'deleteMove' move}}>Delete this Move</button> -->
