<div class="pageWrapper">

    <div class="navWrapper container">
      <div class="headerText">
        {{#link-to 'index'}}<h1>MOVER
          <img src='/img/cloud-icon.png'>
          <img src='/img/cloud-icon.png'>
          <img src='/img/cloud-icon.png'>
        </h1>{{/link-to}}
      </div>
      <div class="nav">

      {{#if session.isAuthenticated}}
        {{#link-to 'post-a-move' session.uid}}Post a Move{{/link-to}}
      {{else}}
        {{#link-to 'sign-in'}}Post a Move{{/link-to}}
      {{/if}}

      {{#link-to 'about'}}About{{/link-to}}


      {{#link-to 'mover-sign-up'}}<span>Become a Mover</span>{{/link-to}}
      {{#if session.isAuthenticated}}
          <a href=""{{action 'logout'}}>Sign Out</a>
          <div class="profileNav">
            {{#link-to 'user-profile' session.uid}} Your Profile{{/link-to}}
            <img src='{{session.currentUser.profileImageURL}}'/>
          </div>
             <!-- <div class='panel panel-default'>
              <div class='panel-heading'>{{session.currentUser.email}}</div>
              <div class='panel-body'>
                <img src='{{session.currentUser.profileImageURL}}' />
              </div>
              </div> -->
        {{else}}
        {{#link-to 'sign-in'}}<p>Sign In</p>{{/link-to}}
        {{/if}}
      </div>
    </div>

    {{outlet}}
  <div class="footer">
    <hr>
    <div class="container">
      <p>Created at Epicodus - {{#link-to 'about'}}Read About Our Team{{/link-to}} | &copy; 2016 All Rights Reserved</p>
    </div>
  </div>
</div>
