<div class="pageWrapper">

    <div class="navWrapper container">
      <div class="headerText">
        {{#link-to 'index'}}<h1>MOVER
          <img src='/img/cloud-icon.png'>
          <img src='/img/cloud-icon.png'>
          <img src='/img/cloud-icon.png'>
        </h1>{{/link-to}}
      </div>
      <div class="nav">
        {{#if session.isAuthenticated}}
          {{#link-to 'post-a-move' session.uid}}<p>Post a Move</p>{{/link-to}}
        {{else}}
          {{#link-to 'sign-in'}}<p>Post a Move</p>{{/link-to}}
        {{/if}}

        {{#link-to 'about'}}<p>About</p>{{/link-to}}

        {{#if session.isAuthenticated}}
        {{else}}
          {{#link-to 'sign-in'}}<p>Sign In</p>{{/link-to}}
        {{/if}}

        {{#link-to 'mover-sign-up'}}<span><p>Become a Mover</p></span>{{/link-to}}
        {{#if session.isAuthenticated}}
            <button {{action 'logout'}}>Logout</button>
        {{/if}}
      </div>
    </div>
    {{#if session.isAuthenticated}}
    Hello {{session.currentUser.firstName}}!
    {{#link-to 'user-profile' session.uid}} Go to your private page. {{/link-to}}
    {{/if}}
    {{outlet}}

  <div class="footer">
    <hr>
    <div class="container">
      <p>Created at Epicodus - {{#link-to 'about'}}Read About Our Team{{/link-to}} | &copy; 2016 All Rights Reserved</p>
    </div>
  </div>

</div>
