<div class="moveDetailHeader">
  <div class="container">
    <h2>Details on User{{model.user}}'s Move on {{model.date}}</h2>
    <h3>From {{model.fromAddress}} to {{model.toAddress}}</h3>
  </div>
</div>
<div class="container">
  <div class="moveDetails">
    <button id="bidMove">Bid on this Move</button>
    <img src="{{model.image}}" alt="" />
    <h3 class='type'>Move Type:{{model.type}}</h3>
    <h4>List of Items:</h4>
    <p>{{model.itemsList}}</p>
    <h4>Description</h4>
    <p>{{model.description}}</p>
  </div>
  <div class="map">
    <!-- Get whatever tyler is coding for this -->
  </div>
</div>


<!-- remember to add path to move_id to router after finishing -->
