<div class="moveDetailHeader">
  <div class="container">
    <h2>Details on {{model.user.firstName}} {{model.user.lastName}}'s Move on {{model.date}}</h2>
    <h3>From {{model.fromAddress}}<br> to {{model.toAddress}}</h3>
  </div>
</div>
<div class="container">
  <div class="bidButtonContainer">
    {{bid-on-move move=model saveBid="saveBid"}}
  </div>
  <div class="moveDetails">
    <div class="textContainer">
      <div>
        <h2 class='type'>Move Type: {{model.type}}</h2>
      </div>
      <div class="">
        <h4>List of Items:</h4>
        <p>{{model.itemsList}}</p>
      </div>
      <div class="checks">
        <p class="stairs">Stairs {{stairs-icon model}}</p>
        <p class="assembly">Assembly {{assembly-icon model}}</p>
        <p class="fragile">Fragile {{fragile-icon model}}</p>
      </div>
      <div class="">
        <h4>Description</h4>
        <p>{{model.description}}</p>
      </div>
    </div>

    <div class="imageContainer" style="background: url('{{model.image}}') center center no-repeat; background-size: cover;"></div>

  </div>
  <div class="map">
    <!-- Get whatever tyler is coding for this -->
  </div>
  <h2 class="centeredText">Current Bids On This Move</h2>
  {{#each model.bids as |bid|}}
    {{bid-tile bid=bid destroyBid="destroyBid"}}
  {{/each}}
</div>
