
{{outlet}}
<p>This is our protected content which can only be seen by logged in users.</p>
Hello {{model}}

{{g-maps name="my-map" lat=lat lng=lng zoom=zoom}}

<!-- {{mover-details save="save"}} -->


{{mover-details save2="save3"}}
