{{#if session.isAuthenticated}}

  <div class="profileHeader">
    {{user-profile-info user=model}}
    <img class="profileImage" src='{{session.currentUser.profileImageURL}}' alt='avatar img'>
    <p class='changeAvatar'> {{session.currentUser.email}}</p>
    <p class="changeAvatar">Change your avatar on <a class="createLink" target="_blank" href="https://en.gravatar.com">Gravatar.</a></p>
  </div>

  {{edit-profile}}

  <div class="container">

    <div class="moveList">
      <h2>Your Moves</h2>
      {{#if session.isAuthenticated}}
      <div class="userMoveItem">
        {{#each model.moves as |move|}}
        {{profile-move-tile move=move deleteMove='deleteMove' model=user}}
        {{edit-move editMove="editMove" model=user move=move}}
          <button{{action 'deleteMove' move}}>Delete this Move</button>
      {{/each}}
    </div>
      {{/if}}
    </div>
  </div>


{{/if}}
