{{#if session.isAuthenticated}}

  <div class="profileHeader">
    {{user-profile-info user=model}}
    <img class="profileImage" src='{{session.currentUser.profileImageURL}}' alt='avatar img'>
    <p class='changeAvatar'> {{session.currentUser.email}}</p>
    <p class="changeAvatar">Change your avatar on <a class="createLink" target="_blank" href="https://en.gravatar.com">Gravatar.</a></p>
  </div>

  {{edit-profile}}

  <div class="container">
    <div class="profileActionButtons">
      {{#link-to 'post-a-move' session.uid}}<button>Post a New Move</button>{{/link-to}}
      {{#link-to 'open-moves'}}<button>View All Open Moves</button>{{/link-to}}
    </div>

    <div class="moveList">
      <h2 class="moveListHead">Your Moves</h2>
      <div class="moveListHeader">
        <p>Date</p>
        <p>Locations</p>
        <p class="buttons"></p>
      </div>
      {{#if session.isAuthenticated}}
      <div class="userMoveItem">
        {{#each model.moves as |move|}}
        {{profile-move-tile move=move deleteMove='deleteMove' model=user}}
        <div class="profileMoveButtons">
          <button{{action 'deleteMove' move}}>Delete this Move</button>
          {{edit-move editMove="editMove" model=user move=move}}
        </div>
      {{/each}}
    </div>
      {{/if}}
    </div>
  </div>


{{/if}}
